RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^api$ api.php [QSA,L]
RewriteRule ^agregar_usuario$ agregar_usuario.php [QSA,L]
RewriteRule ^eliminar_usuario$ eliminar_usuario.php [QSA,L]